a:link {
    background-color: yellow;
    text-decoration: none;
    }
    a:visited {
    background-color: cyan;
    text-decoration: none;
    }
    a:hover {
    background-color: lightgreen;
    text-decoration: underline;
    }
    a:active {
    background-color: hotpink;
    text-decoration: underline;
    } 