ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #a1c6ea;
    border: 1px solid black;
    }
li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;  
   }
    li {text-align: left;
    border-bottom: 1px solid #555;
    }
    li:last-child{border-bottom: none;
    } 
   /* Change the link color on hover 
   */
    li a:hover {
    background-color: #555;
    color: white;
    }
    li a.active {
        background-color: #e80be5;
        color: white;
    }