table{
    border: 3px solid;
    border-collapse: collapse;
    width: 100%;
    }
    th, td {
    border: 3px solid;
    border-collapse: collapse;
    border-color: black;
    }

    th {
        height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        padding: 15px;
        background-color: #0b4cf1;
        color: rgb(239, 233, 235);
        }
        td {
        text-align: left;
        font-size: 20px;
        padding: 8px;
        }
        tr:nth-child(even){
        background-color: #e9f35fe3
    }