.p1 {font-family: Arial, sans-serif;}
.p2 {font-family: Verdana, sans-serif;}
.p3 {font-family: Tahoma, sans-serif;}
.p4 {font-family: 'Trebuchet MS', sans-serif;}
.p5 {font-family: 'Times New Roman', serif;}
.p6 {font-family: Georgia, serif;}
.p7 {font-family: Garamond, serif;}
.p8 {font-family: 'Courier New', monospace;}
.p9 {font-family: 'Brush Script MT', cursive;}